.aromat {
  background: #E7F066;
}

.aromat-bgc {
  width: 100%;
  background: url("/src/img/aromat.jpg") no-repeat;
  margin: 0 auto;
}

.aromat-body__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 0;
  height: 77vh;
}

.aromat-body__menu-burger {
  display: flex;
  justify-content: end;
}

.aromat-body__menu-info {
  display: flex;
}

.aromat-body__footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.aromat-body__footer-title {
  justify-content: start;
}

/* nullCss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------------------*/
.content {
  max-width: 1440px;
  margin: 0 auto;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
}
