.aromat {
  background: #E7F066;
}

.aromat-bgc {
  width: 100%;
  background: url("../img/aromat.jpg") top left no-repeat;
  margin: 0 auto;
}

.aromat-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  height: 80vh;
}

.aromat-body__left {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aromat-body__right {
  position: relative;
  width: 25%;
}

.aromat-body__right-info {
  margin: 45px 0 0 0;
}

.aromat-body__right-info-link {
  margin: 22px 0 0 0;
  display: inline-block;
  border-bottom: 1px solid #262626;
  padding: 0 0 5px 0;
  cursor: pointer;
}

.aromat-body__right-info-link a {
  text-transform: uppercase;
  font-size: 12px;
  color: #262626 !important;
}

.aromat-body__info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 18px 20px;
  background: #000;
  color: #fff;
}

.aromat-body__info-link {
  margin: 5px 0 0 0;
}

@media (max-width: 1400px) {
  .aromat {
    color: #fff;
  }
  .aromat-bgc {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .aromat-body {
    padding: 40px;
  }
  .aromat-body__right {
    width: 40%;
  }
  .aromat-body__right-info-link {
    border-bottom: 1px solid #fff;
  }
  .aromat-body__right-info-link a {
    color: #fff !important;
  }
  .aromat-body__info {
    right: 3%;
  }
}

@media (max-width: 992px) {
  .aromat-body {
    -webkit-box-pack: none;
    -webkit-justify-content: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  .aromat-body__left {
    width: 50%;
  }
  .aromat-body__right {
    width: 50%;
  }
  .aromat-body__right-info-link {
    border-bottom: 1px solid #fff;
  }
  .aromat-body__right-info-link a {
    color: #fff !important;
  }
}

@media (max-width: 768px) {
  .aromat-body {
    -webkit-box-pack: none;
    -webkit-justify-content: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 40px;
  }
  .aromat-body__left {
    width: 100%;
  }
  .aromat-body__right {
    width: 100%;
  }
  .aromat-body__right-info-link {
    border-bottom: 1px solid #fff;
  }
  .aromat-body__right-info-link a {
    color: #fff !important;
  }
}

.block .AromaCandles {
  background-color: #9C8554;
}

.block .HomePerfume {
  background-color: #A26779;
}

.block .Helper {
  background-color: #504B4D;
}

.block .Industry {
  background-color: #B04836;
}

.block-bgc.AromaCandles {
  width: 100%;
  background: url("../img/aromatCandles.jpg") top right no-repeat;
}

.block-bgc.HomePerfume {
  width: 100%;
  background: url("../img/HomePerfume.jpg") top right no-repeat;
}

.block-bgc.Helper {
  width: 100%;
  background: url("../img/Helper.jpg") top right no-repeat;
}

.block-bgc.Industry {
  width: 100%;
  background: url("../img/Industry.jpg") top right no-repeat;
}

.block-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  color: #B2B2B2;
}

.block-body__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17%;
  height: 100%;
}

.block-body__main-title {
  height: 80vh;
}

.block-body__main-info-link {
  margin: 22px 0 0 0;
}

.block-body__footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 992px) {
  .block-bgc.AromaCandles {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .block-body {
    padding: 25px;
  }
  .block-body__main {
    width: 50%;
  }
  .block-body__footer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .block-bgc.AromaCandles {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .block-bgc.HomePerfume {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .block-bgc.HomePerfume .block-body {
    color: #fff !important;
  }
  .block-bgc.HomePerfume .block-body__main-info-link a {
    color: #fff !important;
  }
  .block-bgc.Helper {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .block-bgc.Industry {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .block-bgc.Industry .block-body {
    color: #fff !important;
  }
  .block-bgc.Industry .block-body__main-info-link a {
    color: #fff !important;
  }
  .block-body {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .block-body__main {
    width: 100%;
  }
  .block-body__footer {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
  }
}

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.products .products_one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  background: url("../img/Producs-one.jpg") no-repeat;
}

.products .products_one-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  padding: 40px;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.products .products_two {
  width: 720px;
  background: url("../img/Producs-two.jpg") no-repeat;
}

.products .products_two-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  padding: 40px;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 992px) {
  .products {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutUs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 125px 0;
}

.aboutUs-body {
  width: 20%;
  margin: 0 0 0 30px;
}

.aboutUs-body__title {
  margin: 11px 0 0 0;
  font-size: 28px;
  line-height: 32px;
}

.aboutUs-body__text1 {
  margin: 39px 0 0 0;
}

.aboutUs-body__text2 {
  margin: 20px 0 0 0;
  font-size: 16px;
}

.aboutUs-body__link {
  margin: 20px 0 0 0;
}

@media (max-width: 1200px) {
  .aboutUs__img {
    width: 50%;
  }
  .aboutUs-body {
    width: 50%;
  }
}

@media (max-width: 932px) {
  .aboutUs {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .aboutUs__img {
    width: 100vh;
  }
  .aboutUs-body {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0 0 0;
  }
}

.powerHouse {
  background-color: #bebebe;
}

.powerHouse-bg {
  width: 100%;
  background: url("../img/powerHouse.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 80vh;
}

.powerHouse-body {
  width: 20%;
  padding: 0 20px;
}

.powerHouse-body__subtitle {
  padding: 120px 0 0 0;
}

.powerHouse-body__title {
  margin: 11px 0 0 0;
  font-size: 28px;
  line-height: 32px;
}

.powerHouse-body__text {
  margin: 39px 0 0 0;
}

.powerHouse-body__link {
  margin: 3px 0 0 0;
}

@media (max-width: 1200px) {
  .powerHouse-body {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .powerHouse-body {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .powerHouse-body {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .powerHouse-body {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .powerHouse-body {
    width: 70%;
  }
}

@media (min-width: 500px) {
  .powerHouse-body {
    width: 70%;
  }
}

footer {
  background-color: #262626;
  padding: 49px 0;
  color: #fff;
}

.footer {
  padding: 0 25px;
}

.footer__title {
  opacity: 0.4;
}

.footer-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 46px 0 0 0;
}

.footer-form__input {
  border-top: 1px solid #fff;
}

.footer-form__input input {
  border: none;
  padding: 8px 0 0 0;
  color: #fff;
  background: none;
  cursor: pointer;
}

.footer-form__submit {
  border: none !important;
}

.footer-form__submit input {
  opacity: 0.4;
}

@media (max-width: 487px) {
  .footer-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-form__name {
    width: 100%;
  }
  .footer-form__name {
    width: 100%;
  }
}

/* nullCss*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------------------*/
.content {
  max-width: 1440px;
  margin: 0 auto;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
}

.link-black a {
  display: inline-block;
  border-bottom: 1px solid #262626;
  padding: 0 0 5px 0;
  cursor: pointer;
}

.link-black a a {
  text-transform: uppercase;
  font-size: 12px;
  color: #262626 !important;
}

.link-white {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 0 0 5px 0;
  cursor: pointer;
}

.link-white a {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.link-gray {
  display: inline-block;
  border-bottom: 1px solid #B2B2B2;
  padding: 0 0 5px 0;
  cursor: pointer;
}

.link-gray a {
  text-transform: uppercase;
  font-size: 12px;
  color: #B2B2B2;
}

.title {
  font-size: 25px;
  letter-spacing: 0.5px;
}

@media (max-width: 410px) {
  .title {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  ._container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 932px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 708px;
    margin: 0 auto;
  }
}
