.block{
    .AromaCandles{
        background-color: #9C8554;
    }
    .HomePerfume{
        background-color: #A26779;
    }
    .Helper{
        background-color: #504B4D;
    }
    .Industry{
        background-color: #B04836;
    }
    &-bgc.AromaCandles{
        width: 100%;
     
        background: url('../img/aromatCandles.jpg') top right no-repeat;
        
    }
    &-bgc.HomePerfume{
        width: 100%;
        background: url('../img/HomePerfume.jpg') top right no-repeat;
    }
    &-bgc.Helper{
        width: 100%;
        background: url('../img/Helper.jpg') top right no-repeat;
    }
    &-bgc.Industry{
        width: 100%;
        background: url('../img/Industry.jpg') top right no-repeat;
    }
    &-body{
        display: flex;
        padding: 25px 0;
        color: #B2B2B2;
        &__main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 17%;
            height: 100%;
            &-title{
                height: 80vh;
            }
            &-info{
                &-link{
                    margin: 22px 0 0 0;
                }
            } 
        }
        &__footer{
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
        }
        
    }
}
@media (max-width: 992px) {
    .block{
        &-bgc.AromaCandles{
            background-size: cover;
        }
        &-body{
            padding: 25px;
            &__main{
                width: 50%;
            }
            &__footer{
                width: 50%;
            }
        }
    }
}
@media (max-width: 768px) {
    .block{
        &-bgc.AromaCandles{
            background-size: cover;
        }
        &-bgc.HomePerfume{
            background-size: cover;
            .block-body{
                color: #fff !important;
            }
            .block-body__main-info-link a{
                color: #fff !important;
            }
        }
        &-bgc.Helper{
            background-size: cover;
        }
        &-bgc.Industry{
            background-size: cover;
            .block-body{
                color: #fff !important;
            }
            .block-body__main-info-link a{
                color: #fff !important;
            }
        }
        &-body{
            flex-wrap: wrap;
         
            &__main{
                width: 100%;
            }
            &__footer{
                justify-content: start;
                width: 100%;
            }
        }
    }
}

