footer{
    background-color: #262626;
    padding: 49px 0 ;
    color: #fff;

}
.footer{
    padding: 0 25px;
    &__title{
        opacity: 0.4;
    }
    &-form{
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 46px 0 0 0;
        &__input{
            border-top: 1px solid #fff ;
            input{
                border: none;
                padding: 8px 0 0 0;
                color: #fff;
                background: none;
                cursor: pointer;
            }
        }
        &__submit{
            border: none !important;
            input{
               opacity: 0.4;
            }
        }
    }
}
@media (max-width: 487px) {
    .footer{
        &-form{
            flex-wrap: wrap;
            &__name{
                width: 100%;
            }
            &__name{
                width: 100%;
            }
        }
    }
  
}