.products{
    display: flex;
  
    .products_one{
        display: flex;
        width: 720px;
        background: url('../img/Producs-one.jpg') no-repeat;
        &-link{
              
       
            display: flex;

            height: 800px;
            padding: 40px;
            align-items: end;  
        }
    }
    .products_two{
        width: 720px;
        background: url('../img/Producs-two.jpg') no-repeat;
        &-link{
           
            display: flex;
            height: 800px;
            padding: 40px;
            align-items: end;  
        }
    }
}
@media (max-width: 992px) {
    .products{
        flex-wrap: wrap;
        justify-content: center;
    }

}

