@import  '../scss/aromat';
@import  '../scss/block';
@import  '../scss/products';
@import  '../scss/aboutUs';
@import  '../scss/powerHouse';
@import  '../scss/footer';
/* nullCss*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, li {

  margin: 0;
  
  padding: 0;
  
  }
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
li{
    list-style-type: none;
}
a{

    text-decoration: none
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------------------------------------*/
.content{
    max-width: 1440px;
    margin: 0 auto;
}
._container{
    max-width: 1380px;
    margin: 0 auto;
}
.link-black a{
  display: inline-block;
  border-bottom: 1px solid #262626;
  padding: 0 0 5px 0;
  cursor: pointer;
  a{
    text-transform: uppercase;
    font-size: 12px;
    color: #262626 !important;
}
}
.link-white {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 0 0 5px 0;
  cursor: pointer;
  a{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}
}
.link-gray {
  display: inline-block;
  border-bottom: 1px solid #B2B2B2;
  padding: 0 0 5px 0;
  cursor: pointer;
  a{
    text-transform: uppercase;
    font-size: 12px;
    color: #B2B2B2;
}
}
.title{
  font-size: 25px;
  letter-spacing: 0.5px;
}
@media (max-width: 410px) {
  .title{
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  ._container{
    max-width: 1140px;
    margin: 0 auto;
}
}
@media (max-width: 992px) {
  ._container{
    max-width: 932px;
    margin: 0 auto;
}
}
@media (max-width: 768px) {
  ._container{
    max-width: 708px;
    margin: 0 auto;
}
}